[Desktop Entry]
Version=1.0
Type=Link
Name=image
Comment=
Icon=user-bookmarks
URL=https://www.google.com/imgres?q=test&imgurl=https%3A%2F%2Flatavernedutesteur.fr%2Fwp-content%2Fuploads%2F2017%2F11%2Ftestss.png&imgrefurl=https%3A%2F%2Flatavernedutesteur.fr%2F2017%2F11%2F02%2Fje-suis-testeur-logiciel-oui-mais-testeur-cest-quoi%2F&docid=9nQsW7Mzvt_WwM&tbnid=DwChjmGANW37YM&vet=12ahUKEwjXw_KThOuKAxUnRKQEHa4OER0QM3oECBgQAA..i&w=384&h=220&hcb=2&ved=2ahUKEwjXw_KThOuKAxUnRKQEHa4OER0QM3oECBgQAA
